<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Descarga audios de Youtube</title>
</head>
<body>
    <form class="form-wrapper"action="/audio" method="POST">
        <input type="text" id="search" name="url" placeholder="Ingrese el link del video" required>
        <input type="submit" value="DESCARGAR" id="submit">
    </form>
</body>
</html>